body{
    background-color: beige;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

 li{
    /* cor de fundo */
    background-color: rgb(197, 50, 50);
    /* distancia do elemento debaixo */
    margin-bottom: 5px;
    /* bordas mais redondas */
    border-radius: 5px;
    /* retira o ponto do inicio do item */
    list-style: none;
    /* distancia do conteudo para as bordas */
    padding: 2px;
    /* tamanho do elemento */
    width: 300px;
    height: 400px;
    /* alinha o texto dentro do elemento */
    text-align: center;
    text-size-adjust: auto;
  
 
}

li img {
    width: 100%; /* A imagem nunca será maior que seu contêiner */
    height: auto;
  }

li:hover{
    background-color: rgb(60, 180, 60);
    /* muda o icone do mouse */
    cursor: pointer;
} 
